<div class="row">
    <div class="col-6">
    <img src="{{skiResort?.picture}}" alt="" width="100%">
</div>
<div class="col-6">
    <h3 style="display: inline;" class="mr-1">{{skiResort?.name}}, </h3><p style="color: lightgray;display: inline;">{{skiResort?.country}}</p>
    <p class="mt-2 text-justify">{{skiResort?.description}}</p>
    <small><span>Elevation: {{skiResort?.base_elevation_m}},</span><span>Highest point: {{skiResort?.highest_point}},</span><span>Top Elevation: {{skiResort?.top_elevation_m}}</span></small>
</div>
</div>
